[submodule "dependencies/Vulkan-Hpp"]
	path = dependencies/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
	recursive = true
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	recursive = true
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
	recursive = true
[submodule "dependencies/entt"]
	path = dependencies/entt
	url = https://github.com/skypjack/entt.git
	recursive = true
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
	recursive = true
[submodule "dependencies/VulkanMemoryAllocator"]
	path = dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	recursive = true
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "dependencies/ufbx"]
	path = dependencies/ufbx
	url = https://github.com/ufbx/ufbx.git
